* {
    background-color: rgb(114, 68, 75);
    color: white;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
  }
  
  /* #nav-menu {
    top: 0;
    z-index: 6;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  #nav-menu div {
    text-align: center;
    align-items: center;
    align-content: center;
  }
  #nav-menu div ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #nav-menu div ul li {
    padding: 10px;
  }
  #nav-menu div ul li a {
    font-size: small;
    font-weight: 600;
    font-family: "Courier New", Courier, monospace;
    color: rgb(255, 255, 255);
  }
  #nav-menu div ul li a span {
    color: rgb(70, 194, 239);
  } */
  
  .nav-title{
    font-family: 'Courier New', Courier, monospace;
  }
  
  #resume-button-2,
  .project-github-link,
  .project-deployed-link {
    color: rgb(70, 194, 239);
    border: 1px solid rgb(70, 194, 239);
    padding: 10px;
    border-radius: 5px;
  }
  
  #resume-button-1 {
    color: rgb(70, 194, 239);
    border: 1px solid rgb(70, 194, 239);
    padding: 5px;
    border-radius: 5px;
  }
  
  #resume-button-1 i{
    /* color: black; */
    background-color: black;
  }
  
  #home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    justify-content: center;
  }
  
  #home img {
    width: 25%;
    border-radius: 10%;
    border: 2px solid rgb(70, 194, 239);
  }
  
  #about {
    height: 50vh;
    width: 70%;
    margin: auto;
    color: white;
    text-align: center;
    font-weight: 400;
  }
  
  #left_static {
    width: 2%;
    padding: 10px;
    position: fixed;
    height: 27rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 6;
    transition: all 0.5s;
  }
  
  #left_static i:hover {
    background-color: white;
    border-radius: 10px;
  }
  
  #left_static i {
    color: rgb(70, 194, 239);
  }
  
  #left_static h5 {
    writing-mode: vertical-rl;
    color: rgb(70, 194, 239);
  }
  
  #right_static {
    padding: 10px;
    padding-top: 20px;
    right: 0;
    width: 2%;
    position: fixed;
    height: 27rem;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0);
  }
  #right_static h5,
  #right_static span {
    writing-mode: vertical-rl;
    color: rgb(70, 194, 239);
  }
  
  #right_static span {
    letter-spacing: 2px;
  }
  
  #container {
    width: 86%;
    margin: auto;
  }
  
  #skills {
    width: 60%;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin: auto;
  }
  
  #skills div {
    border: 2px solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    color: rgb(70, 194, 239);
    justify-content: space-between;
  }
  #skills img {
    width: 50%;
  }
  
  #projects {
    width: 70%;
    margin-top: 20vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 5px;
    margin: auto;
  }
  
  #projects > div {
    display: flex;
    padding: 5px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 2px solid grey;
  }
  
  .project-title {
    color: white;
  }
  
  #projects > div > img {
    width: 100%;
  }
  /* #projects > div:last-child > img {
    width: 70%;
  } */
  
  #contact div {
    margin: auto;
    height: auto;
    width: 70%;
    padding-bottom: 20px;
    text-align: center;
    border: 2px solid grey;
  }
  
  #contact div a {
    color: rgb(255, 255, 255);
    font-size: large;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(70, 194, 239);
  }
  
  /* #resume {
    margin: auto;
    width: 70%;
    text-align: center;
    border: 2px solid grey;
  } */
  
  /* #resume a {
    color: rgb(255, 255, 255);
    font-size: large;
    color: rgb(70, 194, 239);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(70, 194, 239);
  } */
  
  .react-activity-calendar {
    text-align: center;
    width: 80%;
    margin: auto;
    /* border: 2px solid  rgb(70, 194, 239); */
  }
  
  #git-stat > div:first-child {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }
  
  #git-stat > div > img {
    width: 50%;
    background-color: black;
  }
  /* ------------------------------------------------------- */
  
  @media screen and (min-width: 100px) and (max-width: 500px) {
    /* Nav Bar only */
    #projects {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto;
    }
  
    #projects > div {
      padding: 0px;
      font-size: x-small;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      border: 1px solid grey;
    }
    #projects > div > img {
      width: 100%;
    }
  
    .project-github-link,
    .project-deployed-link {
      color: rgb(70, 194, 239);
      border: 1px solid rgb(70, 194, 239);
      padding: 5px;
      border-radius: 5px;
      margin-top: 5px;
    }
  
    #contact div {
      display: flex;
      padding-top: 10px;
      flex-direction: column;
      justify-content: center;
    }
  
    #contact div a {
      width: 30%;
      margin: auto;
      color: rgb(255, 255, 255);
      font-size: x-small;
      padding: 5px;
      border-radius: 5px;
    }
  
    #git-stat > div > img {
      width: 70%;
    }
  
    #resume {
      margin: auto;
      width: 40%;
      text-align: center;
      /* border: 2px solid grey; */
    }
  
    #resume a {
      font-size: x-small;
      padding: 10px;
      border-radius: 5px;
    }
  
    #skills {
      width: 50%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      margin: auto;
    }
  
    #skills div {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      color: rgb(70, 194, 239);
      justify-content: space-between;
    }
    #skills img {
      width: 40%;
    }
  
    #left_static {
      width: 1%;
      padding: 5px;
    }
  
    #about {
      font-weight: 100;
      font-size: x-small;
    }
  
    /* #resume-button-1, */
    #resume-button-2 {
      color: rgb(70, 194, 239);
      border: 1px solid rgb(70, 194, 239);
      padding: 10px;
      border-radius: 5px;
      margin-top: 5px;
    }
  
    #home {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 70px;
      margin-bottom: 30px;
      justify-content: center;
    }
  }
  
  @media screen and (min-width: 500px) and (max-width: 710px) {
    /* Nav Bar only */
    #projects {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto;
    }
  }
  
  @media screen and (min-width: 710px) and (max-width: 1000px) {
    /* Nav Bar only */
  }
  
