.nav {
    height: 50px;
    width: 100%;
    background-color:rgb(115, 64, 72);
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  .nav > .nav-links > ul li a {
    display: block;
    padding: 0 8px;
    color: #fff;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;
  }
  .nav > .nav-links > ul {
    padding: 0;
    margin-top: 5px;
    margin-right: 10px;
    list-style: none;
    position: relative;
  }
  .nav > .nav-links > ul li {
    display: inline-block;
    background-color:rgb(70, 194, 239);
  }
  .nav > .nav-links > ul li:hover {
    background-color:rgb(70, 194, 239);
    border-radius: 5px;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  .nav .nav-links ul a.icon {
    margin-left: 80px;
    margin-right: 10px;
  }
  
  .nav .nav-links ul a i {
    background-color: #fff;
    border-radius: 50px;
    padding: 7px;
    margin-left: 5px;
  }
  
  @media (max-width: 750px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
      /* text-align: center; */
    }
  
    #resume-button-1 {
      color: rgb(255, 255, 255);
      border: 1px solid rgb(0, 0, 0);
      padding: -10px;
      border-radius: 5px;
      margin-top: -10px;
      /* text-align: center; */
    }
  
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,
    .nav #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      /* text-align: center; */
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: transparent;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > ul li a {
      display: block;
      width: 100%;
    }
  
    /*   */
  
    .nav > .nav-links > ul li {
      display: block;
      margin-bottom: 20px;
      padding: 0;
      background-color: transparent;
    }
    .nav > .nav-links > ul li a {
      margin-left: 40%;
    }
    .nav .nav-links ul a.icon {
      margin-left: 33%;
    }
  
    /*   */
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }